.content {
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    width: 75vw;
}

.bio {
    text-align: justify;
    margin-bottom: 50px;
}

.portfolio-links {
    display: flex;
    flex-direction: row;
}

.icon-container { 
    flex: 1 1 auto;
}

@media only screen and (min-width: 620px) {
    .portfolio-links {
        flex-direction: row;
    }

    .icon-container {
        font-size: 10em;
    }
}

@media only screen and (max-width: 620px) {
    .portfolio-links {
        flex-direction: column;
    }

    .icon-container {
        font-size: 8em;
    }
}

.icon-container > a {
    color: initial;
    text-decoration: initial;
}

